/* --------- HEADER --------- */
.header{
    
}
.nav{
    background-color: var(--primaryColor);
    padding: var(--S-space) var(--XXL-space);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 8rem;
    z-index: 1000;
}


.nav a:link, .nav a:visited{
    text-decoration: none;
    color: #fff;
}


.nav-logo{
    height: 5rem;
    transform: translateY(8px);
}
.nav-list{
    display: flex;
    list-style: none;
    gap: var(--S-space);
    font-weight: 500;
    align-items: center;
}

.nav-item{
    display: block;
    padding: var(--S-space) var(--L-space); 
}
.nav-item.login{
    background-color: var(--secondaryColor);
    transition: all .07s;

}
.nav-item.login:hover, .nav-item.login:focus{
    background-color: var(--secondaryDarkColor);
}


.hamburger{
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
}

.hamburger-item{
    background-color: white;
    height: 0.4rem;
    border-radius: 5px;
    transform-origin: 0% 0%;
    transition: all .4s;
}
.nav label{ display: none;}
.nav input{display: none;}
.nav #hidden-check:checked ~ label .hamburger .hamburger-item:nth-child(1){

    transform: rotate(45deg) translate(2px, -2px);
}

.nav #hidden-check:checked ~ label .hamburger .hamburger-item:nth-child(2){
    visibility: hidden;
    opacity: 0;
    transform: scale(0.2);
    
}

.nav #hidden-check:checked ~ label .hamburger .hamburger-item:nth-child(3){
    transform: rotate(-45deg) translate(-1px, 1px);
}





/* --------- FOOTER --------- */

/*General*/
.footer {
    background-color: var(--secondaryColor);
    color: rgb(201, 201, 201);
}

.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10rem 0;
    border-top: 0.1rem solid rgb(201, 201, 201);
    gap: 5rem;
}

.footer-title{
    font-weight: 400;
    font-size: 2.2rem;
    margin-bottom: 3rem;
    text-align: center;
}


/*Footer left*/
.footer-left {
    border-right: 0.2rem solid rgb(201, 201, 201);
}

.footer-left ul{
    list-style: none;
    padding: 0;
    margin: 0 0 0;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
}


.reference {
    display: block;
    margin-bottom: 1rem;
}

.reference strong{
    margin-right: 1.6rem;
}


/*Footer right*/
.footer-right {
    text-align: center;
}



.footer ul li {
    margin-right: 3rem;
}

li.reference:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
    /*font-weight: bold;*/
}



/*Form*/
.footer form label {
    font-size: 2.2rem;
    display: block;
    margin-bottom: 3rem;
}

.footer form input[type="email"]{
    border: none;
    padding: 1rem;
    background-color: rgb(92, 92, 92);
    flex: 8;
}


.footer form button[type="submit"] {
   border: none;
   background-color: rgb(201, 201, 201);
   color: rgb(133,39,39);
   padding: 1rem 2rem;
   cursor: pointer;
   transition: background-color 0.3s;
   flex: 1;
}

.footer form button[type="submit"]:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(201, 201, 201);
    outline: solid;
}

.contact-box{
    display: flex;

}

/* -------- MEDIA QUERIES -------- */

@media screen and (max-width: 62rem) { /* 922px de largeur - tablet */
    .nav-list{
        display: block;
        list-style: none;
        font-weight: 500;
        position: absolute;
        top: 8rem;
        left: -100%;
        width: 100%;
        background-color: var(--secondaryColor); 
        transition: all 0.4s;
        
    }

    .nav #hidden-check:checked ~ .nav-list{
       left: 0;
    }

    .nav-item{
        text-align: center;
        padding: var(--S-space);
    }
    .nav-item.login{
        background-color: var(--secondaryDarkColor);
    }

    .nav-item.login:hover, .nav-item.login:focus{
        background-color: var(--secondaryDeepDarkColor);
    }
    .nav label{
        display: block;
    }

    .nav label .hamburger{
        display: flex;
    }

   

    .footer-content{

        grid-template-columns: 1fr;
    }

    .footer-left{
        border: none;
        border-bottom: 0.2rem solid #fff;
        padding-bottom: 5rem;
    }

    .footer-left ul{
        align-items: center;
    }




    


}









