body {
    background: whitesmoke;
}

#container {

    width: 40rem;
    margin:0 auto;
    margin-top: 10%;
}

form {
    width:100%;
    padding: 3rem;
    border: 0.1rem solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2), 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.24);
   }
   #container h1{
    padding-bottom: 1rem;
    text-align: center;
   }

   h2{
    padding-bottom: 1rem;
    text-align: center;
    width: 100%;
    font-size: 2rem;
   }
   
   /* Taille et disposition des textes */
   input[type=text], input[type=password] {
    width: 100%;
    padding: 1.2rem 2rem;
    margin: 0.8rem 0;
    display: inline-block;
    border: 0.1rem solid #ccc;
    box-sizing: border-box;
    transition: all 0.2s;
   }
   
   /* Style des boutons */
   input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 1.4rem 2rem;
    margin: 0.8rem 0;
    border: none;
    cursor: pointer;
    width: 100%;
   }
   input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
   }

   /* Style icone de mot de passe */

   .password-icon {
    display: flex;
    align-items: center;
    position: relative;
    left: 30rem;
    transform: translateY(-220%);
    width: 3rem;
    color: #000000;
    transition: all 0.2s;
  }

  .password-icon:hover {

    cursor: pointer;
    color: #ff4754;
  }

  .password-icon .eye-off {
    display: none;
  }
  